<div class="header1">
  <div class="container d-flex justify-content-between">
    <div class="header1--spans d-flex align-items-center">
      <span class="">Сервис</span>
      <span class="">Сотрудничество</span>
      <span>Заказать звонок</span>
      <div class="d-flex header1--icons align-items-center">
        <img src="/assets/viber.svg" />
        <img src="/assets/whatsapp.svg" />
        <img src="/assets/telegram.svg" />
      </div>
    </div>
    <div class="header1--right">
      <span>+7 (800) 505-54-61</span>
      <img src="/assets/plus.svg" />
    </div>
  </div>
</div>
<div class="header_main d-flex container justify-content-between align-items-center">
  <div class="d-flex">
    <span class="logo">
      Kugoo
    </span>
    <button style="cursor: pointer;" (click)="toggle()" class="btn btn-catalog">
      Каталог
    </button>
    <div *ngIf="catalog_popup" class="catalog-popup">
      <div class="d-flex" style="height:100%">
        <div class="left d-flex flex-column">
          <div class="d-flex">
            <img src="/assets/12.svg">
            <span>Электроскутеры</span>
          </div>
          <div class="d-flex">
            <img src="/assets/12.svg">
            <span>Электроскутеры</span>
          </div>
          <div class="d-flex">
            <img src="/assets/13.svg">
            <span>Электровелосипеды</span>
          </div>
          <div class="d-flex">
            <img src="/assets/14.svg">
            <span>Робот-пылесосы</span>
          </div>
          <div class="d-flex">
            <img src="/assets/15.svg">
            <span>Весы</span>
          </div>
        </div>
        <div class="right">
          <div class="row">
            <div class="col-6 d-flex flex-column">
              <span>Внедорожный</span>
              <span>Городской</span>
              <span>Зимний</span>
              <span>С сиденьем</span>
              <span>Без сиденья</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" style="flex-grow: 1;">
    <div class="header_main--search">
      <input placeholder="Искать самокат KUGO">
    </div>
    <button class="header_main--search-btn btn">
      <img src="/assets/search.svg" />
    </button>
  </div>
  <div class="d-flex header_main--right align-items-center">
    <img src="/assets/balance.svg" />
    <img src="/assets/love.svg" />
    <div class="header_main--cart">
      <img src="/assets/cart.svg" />
      <span>Корзина</span>
    </div>
  </div>
</div>
<div class="mt-5 header--end d-flex align-items-center">
  <div class="container">
    <span>
      О магазине
    </span>
    <span>
      Доставка и оплата
    </span>
    <span>
      Тест-драйв
    </span>
    <span>
      Блог
    </span>
    <span>
      Контакты
    </span>
    <span>
      Акции
    </span>
  </div>

</div>
<div style="min-height: 75vh;" class="container py-4">
  <router-outlet></router-outlet>
</div>
<div class="promo">
  <div class="container">
    <div class="d-flex justify-content-between">
      <span>
        Оставьте свою почту и станьте первым,<br> кто получит скидку на новые самокаты
      </span>
      <div>
        <input placeholder="Введите Ваш email">
        <button class="btn ms-5">
          Подписаться
        </button>
      </div>
    </div>
  </div>
</div>
<div class="footer--icons">
  <div class="container">
    <span class="logo">
      Kugoo
    </span>
  </div>
</div>
<div class="footer">
  <div class="container d-flex justify-content-between">
    <div>
      <span>
        Реквизиты
      </span>
      <span>
        Политика конфиденциальности
      </span>
    </div>
    <div>
      <span class="mx-2">Online чат:</span>
      <img src="/assets/viber.svg" />
      <img src="/assets/whatsapp.svg" />
      <img src="/assets/telegram.svg" />

    </div>
  </div>
</div>