<div class="header1">
  <div class="container d-flex justify-content-between">
    <div class="header1--spans d-flex align-items-center">
      <span class="">Сервис</span>
      <span class="">Сотрудничество</span>
      <span>Заказать звонок</span>
      <div class="d-flex header1--icons align-items-center">
        <img src="/assets/viber.svg" />
        <img src="/assets/whatsapp.svg" />
        <img src="/assets/telegram.svg" />
      </div>
    </div>
    <div class="header1--right">
      <span>+7 (800) 505-54-61</span>
      <img src="/assets/plus.svg" />
    </div>
  </div>
</div>
<div class="header_main d-flex container justify-content-between align-items-center">
  <div class="d-flex">
    <span class="logo">
      Kugoo
    </span>
    <button class="btn btn-catalog">
      Каталог
    </button>
  </div>
  <div class="d-flex" style="flex-grow: 1;">
    <div class="header_main--search">
      <input placeholder="Искать самокат KUGO">
    </div>
    <button class="header_main--search-btn btn">
      <img src="/assets/search.svg" />
    </button>
  </div>
  <div class="d-flex header_main--right align-items-center">
    <img src="/assets/balance.svg" />
    <img src="/assets/love.svg" />
    <div class="header_main--cart">
      <img src="/assets/cart.svg" />
      <span>Корзина</span>
    </div>
  </div>
</div>
<div class="mt-5 header--end d-flex align-items-center">
  <div class="container">
    <span>
      О магазине
    </span>
    <span>
      Доставка и оплата
    </span>
    <span>
      Тест-драйв
    </span>
    <span>
      Блог
    </span>
    <span>
      Контакты
    </span>
    <span>
      Акции
    </span>
  </div>

</div>
<div class="container py-4">
  <router-outlet></router-outlet>
</div>
<div class="footer--icons">
  <div class="container">
    <span class="logo">
      Kugoo
    </span>
  </div>
</div>
<div class="footer">
  <div class="container">
    <span>
      Реквизиты
    </span>
    <span>
      Политика конфиденциальности
    </span>
  </div>
</div>