<div class="header1">
  <div class="container d-flex justify-content-between">
    <div class="header1--spans d-flex align-items-center">
      <span class="">Сервис</span>
      <span class="">Сотрудничество</span>
      <span>Заказать звонок</span>
      <div class="d-flex header1--icons align-items-center">
        <img src="/assets/viber.svg" />
        <img src="/assets/whatsapp.svg" />
        <img src="/assets/telegram.svg" />
      </div>
    </div>
    <div class="header1--right">
      <span>+7 (800) 505-54-61</span>
      <img src="/assets/plus.svg" />
    </div>
  </div>
</div>
<div class="header_main d-flex container justify-content-between align-items-center">
  <div class="d-flex">
    <span class="logo" style="cursor: pointer;" routerLink="/dashboard">
      IBLOCKCMS
    </span>
    <button style="cursor: pointer;" (click)="toggle()" class="btn btn-catalog">
      Каталог
    </button>
    <div *ngIf="catalog_popup" class="catalog-popup">
      <div class="d-flex" style="height:100%">
        <div class="left d-flex flex-column">
          <div *ngFor="let item of d; let i = index;" style="cursor: pointer;" class="d-flex">
            <span (mouseenter)="mouse(item)">{{item}}</span>
          </div>
        </div>
        <div class="right">
          <div class="row">
            <div class="col-6 d-flex flex-column">
              <span *ngFor="let item of dd; let i = index;" (click)="go(item)" style="cursor: pointer;">{{item}}</span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex" style="flex-grow: 1;">
    <div style="position: relative;" class="header_main--search">
      <input [(ngModel)]="serachString" (ngModelChange)="find($event)" placeholder="Искать платье">
      <div *ngIf="serachString && serachRes.length"
        style="z-index: 999; margin-top: 10px; position: absolute;width: 100%;border: 1.5px solid rgb(111, 115, 238);background: white; padding: 10px; padding-bottom: 0px;">
        <div class="mb-3 d-flex align-items-center" *ngFor="let item of serachRes"
          (click)="go2(item['id'], item['iblock_id'])" style="cursor: pointer;">
          <div class="col-1 d-flex justify-content-center align-items-center">
            <img class="me-4" [src]="pict(item['prop']['DETAIL_PICTURE'])" height="35px">
          </div>
          <span class="col-11">{{item.name}}</span>
        </div>
      </div>
    </div>
    <button class="header_main--search-btn btn">
      <img src="/assets/search.svg" />
    </button>
  </div>
  <div class="d-flex header_main--right align-items-center">
    <img src="/assets/balance.svg" />
    <img src="/assets/love.svg" />
    <div class="header_main--cart">
      <img style="cursor: pointer;" routerLink="/cart" src="/assets/cart.svg" />
      <span style="cursor: pointer;" routerLink="/cart">Корзина</span>
    </div>
  </div>
</div>
<div class="mt-5 header--end d-flex align-items-center">
  <div class="container">
    <span>
      О магазине
    </span>
    <span>
      Доставка и оплата
    </span>
    <span>
      Блог
    </span>
    <span>
      Контакты
    </span>
    <span>
      Акции
    </span>
  </div>

</div>

<div class="breadcrumbb mt-4">
  <div class="container d-flex align-items-center">
    <img width="13px" src="/assets/home.svg" />
    <span style="cursor: pointer;" routerLink="/dashboard">Главная </span>
    <ng-container *ngIf="url.includes('/catalog')">
      <ng-container *ngFor="let item of service.breadcrump |async">
        <span>/</span>
        <span *ngIf="!childIds.includes(item)">{{raw.tree[item]?.key}}</span>

        <span *ngIf="childIds.includes(item)" style="cursor: pointer;"
          (click)="go(raw.tree[item]?.key)">{{raw.tree[item]?.key}}</span>

      </ng-container>

    </ng-container>
    <ng-container *ngIf="url.includes('/detail')">
      <ng-container *ngFor="let item of service.breadcrump |async">
        <span>/</span>
        <span *ngIf="!childIds.includes(item)">{{raw.tree[item]?.key}}</span>

        <span *ngIf="childIds.includes(item)" style="cursor: pointer;"
          (click)="go(raw.tree[item]?.key)">{{raw.tree[item]?.key}}</span>
      </ng-container>
      <ng-container *ngIf="service.currentDetailTitle | async">
        <span>/</span>
        <span style="font-weight: bold;">{{service.currentDetailTitle | async}}</span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="url == '/cart'">
      <span>/</span> <span>Моя корзина</span>
    </ng-container>
    <ng-container *ngIf="url == '/cart2'">
      <span>/</span> <span>Моя корзина</span>
    </ng-container>
    <ng-container *ngIf="url == '/detail'">
      <span>/</span> <span style="cursor: pointer;" routerLink="/catalog">Каталог</span><span>/</span>
      <span>Электросамокаты</span><span>/</span>
      <span>Kugoo Kirin M4</span>
    </ng-container>
  </div>
</div>
<div style="min-height: 75vh;" class="container py-4">
  <router-outlet></router-outlet>
</div>
<div class="promo">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-between">
        <span>
          Оставьте свою почту и станьте первым,<br> кто получит скидку на новые товары
        </span>
        <div>
          <input placeholder="Введите Ваш email">
          <button class="btn ms-5">
            Подписаться
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-4 footer-desc">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <span class="title1">Каталог товаров</span>
            <div class="title2 d-flex flex-column">
              <span *ngFor="let item of list()">
                {{item}}
              </span>
            </div>
          </div>
          <div class="col-6">
            <span class="title1">Покупателям</span>
            <div class="row title2">
              <div class="col-6 d-flex flex-column">
                <span>Сервисный центр</span>
                <span>Доставка и оплата</span>
                <span>Рассрочка</span>
                <span>Вакансии</span>
              </div>
              <div class="col-6 d-flex flex-column">
                <span>Блог</span>
                <span>Сотрудничество</span>
                <span>Контакты</span>
                <span>Акции</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="d-flex justify-content-between">
            <span class="title1">Контакты</span>
            <span class="href">Заказать звонок</span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <div class="d-flex me-6 flex-column cardd">
                  <span class="ttitle1">Call-центр</span>
                  <span class="ttitle2 mt-3">+7 (800) 505-54-61</span>
                  <span class="ttitle3 mt-3">Пн-Вс 10:00 - 20:00</span>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex me-6 flex-column cardd">
                  <span class="ttitle1">Сервисный центр</span>
                  <span class="ttitle2 mt-3">+7 (499) 350-76-92</span>
                  <span class="ttitle3 mt-3">Пн-Вс 10:00 - 20:00</span>
                </div>
              </div>

            </div>
            <div class="row mt-4">
              <div class="col-4">
                <div class="d-flex me-4 flex-column cardd">
                  <span class="ttitle4">Магазин в Москве<br>
                    ул. Ткацкая, 5 стр. 16</span>
                  <span class="ttitle3 mt-3">+7 (499) 406 15 87</span>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex me-4 flex-column cardd">
                  <span class="ttitle4">Магазин в Санкт-Петербурге ул. Фрунзе, 2</span>
                  <span class="ttitle3 mt-3">+7 (499) 406 15 87</span>
                </div>
              </div>
              <div class="col-4">
                <div class="d-flex flex-column cardd">
                  <span class="ttitle4">Магазин в Краснодаре ул. Восточно-Кругликовская, 86</span>
                  <span class="ttitle3 mt-3">+ 7 (800) 505 54 61</span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
<div class="footer--icons">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <span style="text-box: auto;" class="logo">
          IBLOCKCMS
        </span>
        <img class="me-4" src="/assets/android.svg">
        <img src="/assets/apple.svg">

      </div>
      <div class="d-flex">
        <div class="card-vk me-3 d-flex">
          <img src="/assets/vk2.svg" class="me-2">
          <div class="d-flex flex-column">
            <span class="title1">Вконтакте</span>
            <span class="mt-1 title2">3 300</span>
          </div>
        </div>
        <div class="card-vk me-3 d-flex">
          <img src="/assets/inst2.svg" class="me-2">
          <div class="d-flex flex-column">
            <span class="title1">Instagram</span>
            <span class="mt-1 title2">10 602</span>
          </div>
        </div>
        <div class="card-vk me-3 d-flex">
          <img src="/assets/youtube2.svg" class="me-2">
          <div class="d-flex flex-column">
            <span class="title1">YouTube</span>
            <span class="mt-1 title2">3 603</span>
          </div>
        </div>
        <div class="card-vk d-flex">
          <img src="/assets/tg2.svg" class="me-2">
          <div class="d-flex flex-column">
            <span class="title1">Telegram</span>
            <span class="mt-1 title2">432</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container d-flex justify-content-between">
    <div>
      <span>
        Реквизиты
      </span>
      <span>
        Политика конфиденциальности
      </span>
    </div>
    <div>
      <span class="mx-2">Online чат:</span>
      <img src="/assets/viber.svg" />
      <img src="/assets/whatsapp.svg" />
      <img src="/assets/telegram.svg" />

    </div>
  </div>
</div>