.itemImage {
    max-width: 100%;
}

.title {
    font-family: Jost;
    font-weight: 600;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: black;
}

.title2 {
    span {
        font-family: Jost;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(93, 108, 123, 1);
        margin-right: 24px;
    }
}

.title3 {
    span {
        font-family: Jost;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(40, 39, 57, 1);
        margin-right: 35px;
    }
}

.title4 {
    .price {
        font-family: Jost;
        font-weight: 600;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: rgba(40, 39, 57, 1);
    }

    .card {
        background: #f1f1f1;
        padding: 15px;
        display: flex;
        flex-direction: row;

        .title1 {
            color: rgba(93, 108, 123, 1);
            font-family: Jost;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        .title2 {
            color: rgba(40, 39, 57, 1);
            font-family: Jost;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
}

.buy {
    background: #f1f1f1;
    padding: 15px;

    .title1 {
        font-family: Jost;
        font-weight: 600;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(40, 39, 57, 1);
    }

    .div1 {
        border-radius: 20px;
        border: 1.3px solid rgba(234, 235, 237, 1);
        padding: 10px;
    }

    .title2 {
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        color: rgba(40, 39, 57, 1);
    }

    .title3 {
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        color: rgba(40, 39, 57, 1);
    }
}

.span1 {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.choose {
    border: 2px solid #be1010 !important;
}

.btn1 {
    padding: 25px 50px 25px 50px;
    border: 1.5px solid rgba(234, 235, 237, 1);
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    min-width: 200px;
}

label {
    font-family: Jost;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(40, 39, 57, 1);
    margin-bottom: 4px;
}

input {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(40, 39, 57, 1);
    margin-bottom: 4px;
}

textarea {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(40, 39, 57, 1);
    margin-bottom: 4px;

}

.gray {
    color: gray !important;

}

.star {
    width: 21px !important;
    display: inline-block;
    padding: 0 0;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 150%;
    line-height: 18px;
    margin-right: 2px;
    color: orange;

    &:before {
        content: "★";
    }
}
