<div class="row sstart cart">
    <div class="d-flex flex-column">
        <span class="title1">Моя корзина</span>
        <span class="mt-4 title2">2 товара</span>
    </div>
</div>
<div class="row mt-4 bbody">
    <div class="col-9">
        <div class="row header">
            <div class="col-4">
                <span>Товар</span>
            </div>
            <div class="col-3">
                <span>Количество</span>
            </div>
            <div class="col-3">
                <span>Сумма</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <span>Удалить все</span>
            </div>
        </div>
        <div class="row mt-5 d-flex align-items-center item">
            <div class="col-4 d-flex align-items-center justify-content-start">
                <img style="border-radius: 10px;" class="me-3" src="/assets/moto.jpg" height="76px">
                <div>
                    <span class="title1">
                        Kugoo Kirin M4
                    </span>
                    <div class="mt-2">
                        <img class="me-2" src="/assets/green.svg">
                        <span class="title2">В наличии</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="range d-inline-flex">
                    <img class="me-3" src="/assets/mminus.svg">
                    <span>1</span>
                    <img class="ms-3" src="/assets/pplus.svg">
                </div>
            </div>
            <div class="col-3">
                <span class="price">29 900 ₽</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <img style="width: 16.5px;" src="/assets/ttrash.svg">
            </div>
        </div>
        <div class="mt-5">
            <hr>
        </div>
        <div class="row mt-5 d-flex align-items-center item">
            <div class="col-4 d-flex align-items-center justify-content-start">
                <img style="border-radius: 10px;" class="me-3" src="/assets/moto.jpg" height="76px">
                <div>
                    <span class="title1">
                        Kugoo Kirin M4
                    </span>
                    <div class="mt-2">
                        <img class="me-2" src="/assets/green.svg">
                        <span class="title2">В наличии</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="range d-inline-flex">
                    <img class="me-3" src="/assets/mminus.svg">
                    <span>1</span>
                    <img class="ms-3" src="/assets/pplus.svg">
                </div>
            </div>
            <div class="col-3">
                <span class="price">29 900 ₽</span>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <img style="width: 16.5px;" src="/assets/ttrash.svg">
            </div>
        </div>
        <div class="mt-5">
            <hr>
        </div>
    </div>
    <div class="col-3">
        <div class="card-price">
            <div class="d-flex flex-column">
                <span class="title1">Итого</span>
                <span class="title-price">58 800 ₽</span>
                <hr>
                <div class="d-flex justify-content-between">
                    <span class="title2">Стоимость товаров</span>
                    <span class="title3">58 800 ₽</span>
                </div>
                <div class="mt-2 d-flex justify-content-between">
                    <span class="title2">Сумма скидки</span>
                    <span class="title3">8 000 ₽</span>
                </div>
                <div class="mt-2 d-flex justify-content-between">
                    <span class="title2">Итого без учета доставки</span>
                    <span class="title3">50 800 ₽</span>
                </div>
                <hr>
                <button [disabled]="!checkbox" class="btn btn-buy" (click)="cart2()"
                    style="cursor: pointer; height: 50px; color: white;">
                    Оформить заказ
                </button>
                <div class="mt-3 d-flex">
                    <input [(ngModel)]="checkbox" type="checkbox">
                    <label class="ms-3 label1">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и
                        <span class="href">политикой конфиденциальности</span></label>
                </div>
            </div>

        </div>
    </div>
</div>