<div class="head d-flex justify-content-between">
    <div class="ttitle">Фильтр</div>
    <div>
        <span class="me-3 sort">Сортировать:</span>
        <select class="me-3 ">
            <option>По цене</option>
        </select>
        <select>
            <option>По дальности хода</option>
        </select>
    </div>
</div>
<div class="mt-3 mb-5 row">
    <div class="col-3">
        <div class="filter">
            <div>
                <ng-container *ngFor="let item of props; let i = index">
                    <ng-container *ngIf="allFilter || i <= 1">
                        <span class="title">
                            {{item}}
                        </span>
                        <div class="mt-2">
                            <div *ngFor="let item2 of values[item]" class="d-flex align-items-center mb-2">
                                <input [(ngModel)]="item2.val" (ngModelChange)="ffilter(i)" type="checkbox">
                                <label>{{item2.title}}</label>
                            </div>
                            <div *ngIf="i == currFilterCount"
                                style="padding:14px; background: white; opacity: 0.8; position:absolute;" class="">
                                <span style="opacity: 1;" class="title">Найдено {{els.length}}</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>


                <div *ngIf="!allFilter" class="mt-2">
                    <span (click)="toggle()" style="cursor: pointer;" class="more me-2">Показать весь фильтр <img
                            src="/assets/arrow.svg"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor="let item of els; let i = index">
                <div class="col-4 d-flex justify-content-end">
                    <app-item-card [data]="item"></app-item-card>
                </div>
            </ng-container>
        </div>
    </div>
</div>