@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn:hover {
    background: rgba(111, 115, 238, 1) !important;
}

.btn {
    background: rgb(111, 115, 238) !important;
}

.header1 {
    margin-top: 75px;
    border-bottom: 1px solid rgba(236, 243, 255, 1);
    padding-bottom: 24px;

    &--spans {
        span {
            font-family: Jost;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(93, 108, 123, 1);
            margin-right: 30px;
        }

        img {
            margin-right: 10px;
        }
    }

    &--right {
        span {
            font-family: Jost;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(40, 39, 57, 1);
            margin-right: 10px;
        }

        img {
            width: 18px;
            height: 18px;
        }
    }
}

.logo {
    font-family: Jost;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    margin-right: 30px;
}

.header_main {
    margin-top: 24px;



    &--search {
        width: 100%;
        border: 1.5px solid rgba(111, 115, 238, 1);

        margin: 0 0px 0 50px;

        input {
            padding: 8px;
            font-family: Jost;
            font-weight: 400;
            width: 100%;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(93, 108, 123, 1);
            border: none !important;
            outline: none;
            padding-left: 20px;
        }

    }

    &--right {
        img {
            width: unset;
            height: unset;
            margin-right: 30px;
        }

        span {
            font-family: Jost;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }

    &--cart {
        margin-top: -6px;

        img {
            margin-right: 10px;
        }
    }

    .btn-catalog {
        width: 114;
        height: 40;
        margin-right: 15px;
        top: 69px;
        color: white;
        left: 316px;
        opacity: 1;
        border-width: 1.5px;
        border-radius: 5px;
        font-family: Jost;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        background: rgba(111, 115, 238, 1);
    }
}

.header_main--search-btn {
    background: rgba(111, 115, 238, 1) !important;
    color: white;
    margin-right: 50px;
    position: relative;
    left: -4px;
}

.header--end {
    background: rgba(244, 247, 251, 1) !important;
    height: 40px;

    span {
        font-family: Jost;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-right: 40px;
        color: rgba(40, 39, 57, 1);
    }

}

//index
.header {
    span {
        font-family: Jost;
        font-weight: 600;
        font-size: 35px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: rgba(40, 39, 57, 1);
    }

    button {
        margin-right: 8px;
        font-family: Jost;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        background-color: white !important;
        color: rgba(111, 115, 238, 1);
        border: 1.3px solid rgba(111, 115, 238, 1);
    }
}

.card {
    width: 255px;
    padding: 0px;
    border: 1.5px solid rgba(234, 235, 237, 1) !important;

    .prop {
        padding: 20px;

        .icons {
            span {
                font-family: Roboto;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: rgba(93, 108, 123, 1);
            }

            img {
                margin-right: 10px;
            }
        }

        .title {
            font-family: Jost;
            font-weight: 600;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(40, 39, 57, 1);
        }
    }

    .image {
        background-image: url('/assets/moto.jpg');
        background-size: contain;
        background-position: bottom;
        height: 231px;
        background-repeat: no-repeat;
    }
}

.price {
    font-family: Jost;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(40, 39, 57, 1);
}

.btn-buy {
    font-family: Jost !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    text-align: center !important;
    height: 37px !important;
    color: rgba(255, 255, 255, 1) !important;
}

.footer--icons {
    padding-top: 20px;
    background: rgba(244, 247, 251, 1);

    .container {
        border-bottom: 1px solid rgba(93, 108, 123, 1);
        padding-bottom: 20px;

    }
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgba(244, 247, 251, 1);

    img {
        margin-right: 10px;
    }

    span {
        font-family: Jost;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(93, 108, 123, 1);
        margin-right: 50px;
    }
}

.promo {
    background: rgba(111, 115, 238, 1);

    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    input {
        padding: 8px;
        font-family: Jost;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        background: rgba(255, 255, 255, 0.2);
        color: rgba(93, 108, 123, 1);
        border: none !important;
        width: 400px;
        outline: none;
    }

    button {
        background: rgba(255, 255, 255, 1) !important;
        font-family: Jost !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        letter-spacing: 0% !important;
        text-align: center !important;
    }

    button:hover {
        background: rgba(255, 255, 255, 1) !important;
        font-family: Jost !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 100% !important;
        letter-spacing: 0% !important;
        text-align: center !important;
    }

    span {
        font-family: Jost;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
    }
}

//popup

.catalog-popup {
    margin: 50px 0px 150px 150px;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(111, 115, 238, 1);

    z-index: 999;

    .left {
        padding: 10px;

        div:not(:last-child) {
            padding-right: 40px;
            margin-bottom: 20px;
        }

        background: rgba(244, 247, 251, 1);

        span {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: black;
            margin-left: 10px;
        }
    }

    .right {
        padding: 30px;
        min-width: 240px;

        span {
            font-family: Jost;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(93, 108, 123, 1);
            margin-bottom: 10px;

        }
    }
}

.breadcrumbb {
    img {
        width: 14px;
        margin-top: -4px;
        margin-right: 5px;
    }

    span {
        margin-right: 5px;
        font-family: Jost;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.footer-desc {
    background: rgba(244, 247, 251, 1);

    .container {
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(93, 108, 123, 1);
    }


    .title1 {
        font-family: Jost;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: black;
    }

    .href {
        font-family: Jost;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(111, 115, 238, 1);
    }

    .cardd {
        .ttitle1 {
            font-family: Jost;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(40, 39, 57, 1);
        }

        .ttitle2 {
            font-family: Jost;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(40, 39, 57, 1);
        }

        .ttitle4 {
            font-family: Jost;
            font-weight: 400;
            font-size: 14px;
            color: rgba(40, 39, 57, 1);
            line-height: 129%;
            letter-spacing: 0%;
        }

        .ttitle3 {
            font-family: Jost;
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(93, 108, 123, 1);
        }
    }

    .title2 {
        margin-top: 24px;

        span {
            margin-bottom: 20px;
            font-family: Jost;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: rgba(93, 108, 123, 1);
        }
    }
}

.card-vk {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
    min-width: 123px;
    cursor: pointer;

    .title1 {
        font-family: Jost;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(40, 39, 57, 1);
    }

    .title2 {
        color: rgba(93, 108, 123, 1);
        font-family: Jost;
        font-weight: 400;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}