<div class="header mt-4 row d-flex">
    <div class="col-6">
        <span>Электросамокаты</span>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button class="btn">
            Хиты продаж
        </button>
        <button class="btn">
            Для города
        </button>
        <button class="btn">
            Для взрослых
        </button>
        <button class="btn">
            Для детей
        </button>
    </div>
</div>
<div class="mt-5 d-flex justify-content-center flex-column align-items-center catalog">
    <div class="d-flex flex-wrap">
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>

    </div>
    <div class="mt-4 d-flex flex-wrap">
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
    </div>
</div>