<div style=" height: 100%;" class="card">
  <div (click)="detail()" [attr.style]="detailimage()" class="image">
  </div>
  <div class="prop d-flex flex-column align-items-start justify-content-center">
    <span class="title">{{data.name}}</span>
    <div class="mt-4 icons" style="width: 100%;">
      <div *ngFor="let k of data.props"
        class="col-12 mt-2 flex-column d-flex justify-content-between align-items-start">
        <span style="font-weight: bold;">{{k.key}}</span>
        <span class="mt-1">{{k.val}}</span>
      </div>
    </div>
  </div>
  <div style="margin-top: auto; padding: 20px; padding-top: 0px;" class="">
    <div class="col-6">
      <span class="price">29 900 ₽</span>
    </div>
    <div class="col-6">

    </div>
  </div>
  <div style="padding: 20px; padding-top: 0px; padding-bottom: 5px;" class="w-100">
    <button (click)="buyModal()" class="w-100 btn btn-buy">Купить в 1 клик</button>
  </div>
</div>