<div class="card">
  <div style="cursor: pointer;" (click)="detail()" class="image">
  </div>
  <div class="prop d-flex flex-column align-items-start justify-content-center">
    <span class="title">Kugoo Kirin M4</span>
    <div class="mt-4 icons" style="width: 100%;">
      <div class="col-12 d-flex justify-content-between ">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <img src="/assets/1.svg">
          <span>2000 mAh</span>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <img src="/assets/2.svg">
          <span>1,2 л.с.</span>
        </div>
      </div>
      <div class="col-12 mt-4 d-flex  justify-content-between ">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <img src="/assets/3.svg">
          <span>60 км/ч</span>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <img src="/assets/4.svg">
          <span>5 часов</span>
        </div>

      </div>
    </div>
  </div>
  <div style="padding: 20px; padding-top: 0px;" class="">
    <div class="col-6">
      <span class="price">29 900 ₽</span>
    </div>
    <div class="col-6">

    </div>
  </div>
  <div style="padding: 20px; padding-top: 0px; padding-bottom: 5px;" class="w-100">
    <button (click)="buyModal()" class="w-100 btn btn-buy">Купить в 1 клик</button>
  </div>
</div>