<div style="padding: 50px;" class="row">
  <div class="col-5 d-flex flex-column">
    <span class="title mb-5">
      Закажите электросамокат Kugoo Kirin M4
    </span>
    <span class="title2 mb-5">
      Менеджер позвонит в течение 5 минут, чтобы уточнить детали вашего заказа.
    </span>
    <form class="w-100" [formGroup]="form">
      <input mask='(000) 000-0000' class="mb-4" class="form-control"
        [class.is-invalid]="form.controls['phone'].invalid && (form.controls['phone'].touched || dirty)"
        formControlName="phone" type="text" placeholder="+7 (___) __ - __ - __">
      <label *ngIf="dirty && !valid()" style="color:red">Заполните обязательные поля</label>
      <button (click)="go()" class="btn w-100 mt-4 btn-yellow mb-3">Оформить предзаказ</button>
    </form>
    <div class="d-flex justify-content-center align-items-center">
      <input class="me-2" type="checkbox">
      <label>Нажимая на кнопку, вы соглашаетесь<br> на обработку персональных данных<br> <span class="href">и политикой
          конфиденциальности</span></label>
    </div>
  </div>
  <div class="col-7 d-flex flex-column justify-content-center align-items-center">
    <div>
      <div class="price">29 900 ₽</div>
      <img src="/assets/moto.jpg">
    </div>
  </div>
</div>