<div style="padding: 50px;" class="row">
  <div class="col-5 d-flex flex-column">
    <span class="title mb-5">
      Закажите электросамокат Kugoo Kirin M4
    </span>
    <span class="title2 mb-5">
      Менеджер позвонит в течение 5 минут, чтобы уточнить детали вашего заказа.
    </span>
    <input class="mb-4" type="text" placeholder="+7 (___) __ - __ - __">
    <button class="btn btn-yellow mb-3">Оформить предзаказ</button>
    <div class="d-flex justify-content-center align-items-center">
      <input class="me-2" type="checkbox">
      <label>Нажимая на кнопку, вы соглашаетесь<br> на обработку персональных данных<br> <span class="href">и политикой
          конфиденциальности</span></label>
    </div>
  </div>
  <div class="col-7 d-flex flex-column justify-content-center align-items-center">
    <div>
      <div class="price">29 900 ₽</div>
      <img src="/assets/moto.jpg">
    </div>
  </div>
</div>